 <%- include('./templates/header.ejs') %>
 <%- include('./templates/nav.ejs') %> 

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <%- include("templates/header") %>

    <title>Discord Lists | Certification <%= botid.botname %></title>
  </head>
  <body><br>
    <img src='<%= botid.botavatar %>' class="rounded mx-auto d-block" alt="..."><br>
    <center><h3>Your are going to add <%= botid.botname %> bot for certification program. Make sure you have completed every requirement below</h3></center><br><br>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <form method="POST" action="/bot/certification/<%= botid.botid %>">
      <ul>
        <li>Your bot <b>MUST</b> be in 100 or more server in the time that applying for certification.</li>
        <li>Your bot <b>MUST</b> post server count to our website via our API.</li>
        <li>Your bot <b>MUST</b> follow discord ToS.</li>
        <li>Your bot cannot be NSFW targeted.</li>
        <li>Your bot have to be 100% unique and not a clone of another bot</li>
        <li>Your bot <b>MUST</b> have 24/7 uptime. You have permission to take the bot offline for maintenance.</li>
        <li>Your bot <b>MUST</b> have a support server</li>
        <li>Your bot <b>MUST</b> have been on discord lists for 7 days</li>
      </ul>
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Submit for certification</button>
        </div><br>
      </form>
  </body>
</html>